.sidebar {
    position: fixed;
    left: 0;
    margin-top: 1rem;
    width: 3rem;
    background: var(--color-white);
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    border-top-right-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 9.4rem;
}

.sidebar .logo-content {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.sidebar .logo-content .menu-icon {
    margin-right: 1rem;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a {
    color: var(--color-gray);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar ul li a i {
    height: 2.5rem;
}

.sidebar ul li a:hover {
    color: black;
}

.sidebar .active {
    color: black;
}

.sidebar .active::before {
    content: "";
    display: block;
    width: 0.2rem;
    height: 90%;
    position: absolute;
    left: -5px;
    background: purple;
}

.sidebar ul li a h5 {
    margin-left: 1.5rem;
    font-size: 1rem;
}
