.sidebar {
    margin-top: 6rem;
    width: 3rem;
    background: var(--color-white);
    border-top-right-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    position: fixed;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 8.5rem;
}

.sidebar .logo-content {
    height: 3rem;
}

.sidebar .logo-content .menu-icon {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.sidebar.active .logo-content .menu-icon {
    position: absolute;
    left: 6rem;
    top: 1rem;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}


.sidebar .menu-item:hover {
    background: var(--color-light);
}

.sidebar i {
    margin-left: 0.5rem;
    position: relative;
}

.sidebar h5 {
    opacity: 0;
    pointer-events: none;
    margin-left: 1rem;
    transition: all 0.5s ease;
}

.sidebar.active h5 {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .active {
    background: var(--color-light);
}

.sidebar .active::before {
    content: "";
    display: block;
    width: 0.2rem;
    height: 100%;
    position: absolute;
    background: purple;
}